body{
    font: 1em sans-serif;
    margin: 0;
}

/* nav */
#nav {
    background-color: #ffffff;
}

#logo {
    vertical-align: middle;
    height: 8rem;
    width: 8rem;
    margin: 2rem 0 2rem 2rem;
}

h1 {
    display: inline;
    vertical-align: middle;
    font-size: 6rem;
}

/* /nav */

/* main */
.container{
    background-color: #f6f8f9; 
    height: 100%;
    width: 100%;
    padding-top: 8rem;
    /* margin: auto; */
}
#tasks{

    height: 70%;
    width: 70%;
    margin: auto;
    background-color: #ffffff;
}
/*buttons*/
#buttons{
    padding: 2rem 4rem;
}
.primary{
    background-color: #47acf1;
    color: #ffffff;
    padding: 1rem 2rem;
    font-size: 2rem;
    border: 1px solid #47acf1;
    border-radius: 1.2rem;
}
.secondary{
    background-color: #ffffff;
    color: #c9ced2;
    padding: 1rem 2rem;
    font-size: 2rem;
    border: 1px solid #c9ced2;
    border-radius: 1.2rem;
}

/* /buttons*/